.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 700px) {
  .profile__avatar {
    margin: 0;
  }
}
