.popup__container {
  top: 25%;
  position: absolute;
  width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  padding: 34px 36px 0 36px;
}
@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding: 24px 22px 25px 22px;
  }
}