.authorization__input {
    padding: 0;
    margin: 0 0 30px 0;
    border: 0;
    background-color: #000000;
    border-bottom: 2px solid #cccccc;
    width: 358px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
}