.authorization {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 358px;
    /* background-color: coral; */
    margin: 60px 0 0 0;
    padding: 0;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
}